<script src=<%= asset_path('pagination.js') %>></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
</style>
	<div id="oir">
    <% if @posts.any? %>
    	<%= render 'projects', posts: @posts %>
    <% else %>
        <% if @user == current_user %>
    	   <h2 class="w3-center">Você ainda nao possui projetos</h2>
    	   <h3 class="w3-center"> Para postar, <%=link_to "clique aqui", new_post_path%>
        <% else %>
            <h2 class="w3-center"><%= @user.completo%> ainda nao possui projetos</h2>
        <% end %>
    <% end %>
    </div>

   <div id="infinite-scrolling">
     <%= will_paginate @posts%>
   </div>