<div class="well">
              <div class='row' style='padding-bottom:10px'>
                <div class='col-md-1', style='width:5%'>
                  <%= image_tag comment.user.avatar.url(:medium), class:'media-object', style:'width:32px;height:32px'%>
                </div>
                <div class="col-lg-8">
                  <h5 class=""><strong style='color:#009FAB'><%=link_to "#{comment.user.completo}", profile_path(comment.user.user_name)%></strong>
                  </h5>
                </div>
                <div class='w3-padding' style='float:right'><%= time_ago_in_words comment.created_at %></div>
              </div>
              <div class='row w3-padding'>
                <%=comment.content%>
                <% if comment.user == current_user %>
                  <%= link_to post_comment_path(post, comment), method: :delete, data: {post_id: post.id, value: post.comments.count, confirm: "Are you sure?" }, remote: true, id: "delete-#{comment.id}", class: "delete-comment" do %>
                  <span class="fa fa-times delete-comment-icon"></span>
                  <% end %>
                <% end %>
              </div>   
            </div>