<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Open Sans", sans-serif}
.mySlides {display:none}
</style>
    <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
<body class="" style="width:1170px">

<div class='container' id="carrinho" style='width:1170px'>

<!-- Sidenav/menu -->
<br>
<br>
<nav class="w3-sidenav w3-light-grey w3-collapse w3-top w3-border-left" style="z-index:3;width:260px; " id="mySidenav">
<br>
<br>
<br>
  <div class="w3-container w3-padding-8">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-closebtn w3-hover-text-red"></i>
    <p class="w3-center">

      <%= image_tag "LOGO-claro.png", style: 'height:130px;width:130px' %>
    </p>
    <div class="w3-center"><strong>BEEPRINTED</strong></div>
    <div class="w3-center">Brasília, Brasil</div>
    <hr style="border-top: 1px solid #cccccc">
    <div style="color:#555555; margin-bottom:20px; font-size:15px;"><strong>Pagamento</strong></div>

    <div class='w3-container' style="border-bottom:2px solid #888888; padding-bottom:10px; padding-left:0px; padding-right:0px">
        <% @carrinho.orders.each do |order| %>
          <div class="w3-container order_<%=order.id%>" style="width:100%; height:auto; padding-bottom:10px;padding-left:0px; padding-right:0px">
            <% if order.quantidade == 1 %>
              <div class='col-lg-6' style="font-size:13px; color:#555555;"><%=order.post.caption%></div>
            <%else%>
              <div class='col-lg-6' style="font-size:13px; color:#555555;"><%=order.post.caption%> <strong>x<%=order.quantidade%></strong></div>
            <%end%>
            <div class='col-lg-6 w3-center' style="float:right; font-size:13px; color:#555555;">R$<%='%.2f' % (order.price*order.quantidade).round(2)%></div>
          </div>
        <% end %>
    </div>
    <div class='w3-container' style="border-bottom:3px solid #888888; padding-bottom:10px;padding-left:0px; padding-right:0px">
    <div>
          <div class='col-lg-6' style="font-size:13px; color:#555555;">Subtotal:</div>
         <div class='col-lg-6 w3-center' id='preco_total' style="float:right;font-size:14px;color:#555555;">R$<%='%.2f' % @preco.round(2)%></div>
    </div>
          <div class='col-lg-6' style="font-size:13px; color:#555555;">Frete:</div>
          <% if @frete_valor%>
            <div class='col-lg-6 w3-center' id='frete' style="float:right;font-size:14px;color:#555555;">R$0.00</div>
          <% else %>
            <div class='col-lg-6 w3-center' id='frete' style="float:right;font-size:14px;color:#555555;">?</div>
          <%end%>
    </div>
    <div class='w3-container' style='padding-bottom:10px; padding-left:0px; padding-right:0px'>
        <strong>
          <div class='col-lg-6' style="font-size:14px; color:#555555;">Total:</div>
          <%if @frete_valor %>
            <div class='col-lg-6 w3-center' id='preco_final' style="float:right;font-size:20px;color:#555555;">R$<%='%.2f' % @preco.round(2)%></div>
          <%else%>
            <div class='col-lg-6 w3-center' id='preco_final' style="float:right;font-size:20px;color:#555555;"></div>
          <%end%>

        </strong>
    </div>
    <hr style="border-top: 1px solid #cccccc">
    <div style="color:#555555; margin-bottom:20px; font-size:15px;"><strong>Detalhes do Pedido</strong></div>
    <% @carrinho.orders.each do |order| %>
      <div class="order_<%=order.id%>">
      <h5 style="color:#555555"><strong><%=order.post.caption%></strong></h5>
      <h5 style="color:#555555; margin-left:10px;">Material: <%=order.material%></h5>
      <h5 style="color:#555555; margin-left:10px;">Cor: <%=order.color%></h5>
      <h5 style="color:#555555; margin-left:10px;">Resolução: <%=order.resolution%></h5>
      <h5 style="color:#555555; margin-left:10px;">Preenchimento: <%=order.preench%></h5>
      </div>
    <% end %>
    <hr style="border-top: 1px solid #cccccc">
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-black w3-xlarge w3-padding-80">
  <span class="w3-left">Pedido</span>
  <a href="javascript:void(0)" class="w3-right w3-opennav" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white w3-border-right" style="margin-left:260px">
<br>
  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:80px"></div>

  <!-- Slideshow Header -->
  <bla id='order_foto'>
    <% if @carrinho.orders.any? %>
      <%= render 'carrinhos/principal', carrinho: @carrinho %>
    <% else %>
      <h3>Você nao possui nenhum pedido. Visite nossa galeria</h3>
      <p class='w3-center btn'><%=link_to 'Galeria', galeria_path%></p>
    <% end %>
  </bla>
  <hr style="margin-bottom:2px; border-top: 1px solid #dddddd">
  <div class='w3-container' style="color:#999999">Para cancelar algum pedido, clique no "x" no topo esquerdo da respectiva foto</div>

<div class="w3-container" id="contact" style="margin-top:15px; border-top: 2px solid #eeeeee">
    <h2 style="color:#777777">Frete</h2>
    <div class="w3-row-padding w3-section" style="padding-top:25px; border-top:1px solid #eeeeee">
      <form>
        <p>
        <input id="com_frete" type="radio" name="tipo_entrega"/> Entrega pelos correios (com frete)
        </p>
        <p>
        <input id="sem_frete" type="radio" name="tipo_entrega"/> Retirada no escritório (sem frete)
        </p>
      </form>
      <div class="w3-left">
         <%= form_tag "/order/frete?carrinho_id=#{@carrinho.id}", id:"form_cep", style:"display:none;", remote: true do %>
          <%= text_field_tag "CEP", "#{@user.postal_code}" %>
          <%= submit_tag "CEP" %>
        <% end %>
      </div>
      <br>
    <br>
    <%if @frete_valor %>
    <form id="form_com_frete" style="display:none;">
    <p>
      <input id="correios_pac" type="radio" name="correios_tipo" checked='true' /> Pac - R$<bla><%=@frete_valor%></bla></p>
    <p>
      <input id="correios_sedex" type="radio" name="correios_tipo" /> Sedex - R$<bla><%=@frete_valor_sedex%></bla></p>
    </form>
    <%else%>
    <form id="form_com_frete" style="display:none;">
    <p>
      <input id="correios_pac" type="radio" name="correios_tipo" checked='true' /> Pac - R$<bla>0.00</bla></p>
    <p>
      <input id="correios_sedex" type="radio" name="correios_tipo" /> Sedex - R$<bla>0.00</bla></p>
    </form>
    <%end%>
    </div>

</div>



  <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:15px; border-top: 2px solid #eeeeee">
    <h2 style="color:#777777">Dúvidas e Observações</h2>
    <div class="post-bottom">
    <div class="w3-row-padding w3-section" style="padding-top:25px; border-top:1px solid #eeeeee">
            <div class="w3-col s2 w3-right" style="width:12%">
              <%= image_tag "LOGO-claro.png",class: "w3-circle w3-right", style: 'height:50px;width:50px' %>
            </div>
              <div class="w3-col s8 w3-right" style="background-color:#eeeeee; border-radius:10px;padding:10px">
                Olá :)
            </div>
    </div>
    <div class="w3-row-padding w3-section" style="padding-top:25px; border-top:1px solid #eeeeee">
            <div class="w3-col s2 w3-right" style="width:12%">
              <%= image_tag "LOGO-claro.png",class: "w3-circle w3-right", style: 'height:50px;width:50px' %>
            </div>
              <div class="w3-col s8 w3-right" style="background-color:#eeeeee; border-radius:10px;padding:10px">
                Pergunte o que quiser e responderemos o mais rápido possível...
            </div>
    </div>
      <div id="comments">
        <% if @carrinho.car_comments %>
          <%= render @carrinho.car_comments, carrinho: @carrinho %>

        <%end%>
      </div>
    </div>
    <%if @carrinho.user ==current_user %>
    <div class="w3-row-padding w3-section" style="padding-top:25px; border-top:1px solid #eeeeee">
      <div class="w3-col s2" style="width:12%">
        <%= image_tag current_user.avatar.url(:medium),class: "w3-circle", style: 'height:50px;width:50px' %>
      </div>
      <div class="w3-col s8" style="background-color:#eeeeee; border-radius:10px;padding:10px">
        <%= form_for([@carrinho, @carrinho.car_comments.new], remote: true) do |f| %>
          <%= f.text_field :content, placeholder: 'Pergunte aqui...', style: "width:100%;background-color:#eeeeee;border:none;size:30", id: 'comment_content_form' %>
        <% end %>
      </div>
    </div>
    <%else%>
    <div class="w3-row-padding w3-section" style="padding-top:25px; border-top:1px solid #eeeeee">
      <div class="w3-col s2 w3-right" style="width:12%">
        <%= image_tag "LOGO-claro.png",class: "w3-circle w3-right", style: 'height:50px;width:50px' %>
      </div>
      <div class="w3-col s8 w3-right" style="background-color:#eeeeee; border-radius:10px;padding:10px">
        <%= form_for([@carrinho, @carrinho.car_comments.new], remote: true) do |f| %>
          <%= f.text_field :content, placeholder: 'Pergunte aqui...', style: "width:100%;background-color:#eeeeee;border:none;size:30", id: 'comment_content_form' %>
        <% end %>
      </div>
    </div>
    <%end%>

  </div>
<div class="w3-container" style="border-top:2px solid #eeeeee;margin-top:15px;padding-top:15px;">

  <div class="w3-center">
<button id="comprar" href="javascript:void(0)" title="Selecione o modo de entrega" class="w3-btn w3-green w3-section" onclick="document.getElementById('subscribe').style.display='block'" style="border-radius:5px;" disabled>Ir para Pagamento</button>
  </div>
  <div class="w3-center">
  Pagamento Seguro por
  </div>
  <div class="w3-center">
   <img src="https://stc.pagseguro.uol.com.br/public/img/banners/pagamento/todos_estatico_550_100.gif" alt="Logotipos de meios de pagamento do PagSeguro" title="Este site aceita pagamentos com Visa, Mastercard, Diners, American Express, Hipercard, Aura, Elo, PLENOCard, PersonalCard, BrasilCard, FORTBRASIL, Cabal, Mais!, Avista, Grandcard, Sorocred, Bradesco, Itaú, Banco do Brasil, Banrisul, Banco HSBC, saldo em conta PagSeguro e boleto.">
</div>
<br>
  <footer>
            <div class="row">
                <div>
                    <p>Copyright &copy; Beeprinted 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

<!-- End page content -->
</div>
<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom w3-padding-large">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-closebtn w3-xlarge w3-hover-text-grey w3-margin"></i>
      <% if @carrinho.orders.any? %>
   <form id="se_forzero" class="form-horizontal" role="form" action=<%=order_create_path(@user.user_name)%> method="POST">
     <div id='payment-datas'>
       <div>
        <input id="price" type="hidden" name="price" value="<%= @preco %>">
        <input id="parcela" type="hidden" name="parcela">
        <input id="quantidade" type="hidden" name="quantidade">
         <input type="hidden" name="carrinho_id" value="<%= @carrinho.id %>">
         <input type="hidden" name="card_token" id="card_token" />
         <input type="hidden" name="sender_hash" id="sender_hash" />
         <input type="hidden" name="session_id" id="session_id" value="<%= @session_id %>" />
         <input type="hidden" name="forma_entrega" id="forma_entrega" value="" />
         <%= csrf_meta_tag %>
       </div>
       <fieldset>
         <legend>Dados Pessoais do Comprador</legend>
         <div class="form-group">
           <label class="col-sm-3 control-label">Nome</label>
           <div class="col-sm-5">
             <input type="text" class="form-control" name='name' placeholder="exp: José Paulo" value='<%=@user.completo%>' required>
           </div>
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">Email</label>
           <div class="col-sm-5">
             <input type="text" class="form-control" name='email' placeholder="exp: beeprinted@beeprinted.com" value='<%=@user.email%>' required>
           </div>
           
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">CPF</label>
           <div class="col-sm-3">
             <input type="text" class="form-control" name='cpf' placeholder="39813476548" maxlength='11' value='<%=@user.cpf%>' required>
           </div>
           * Não use . ou - no CPF
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">Telefone</label>
           <div class="col-sm-1" style='width:80px'>
             <input type="text" class="form-control" name='phone_code' placeholder="11" maxlength='2' value='<%=@user.phone_code%>' required>
           </div>
           <div class="col-sm-2">
             <input type="text" class="form-control" name='phone_number' placeholder="997874567" value='<%=@user.phone_number%>' required>
           </div>
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">Data de Nascimento</label>
           <div class="col-sm-2">
             <input type="text" class="form-control" name='birthday' placeholder="10/10/1991" maxlength='10' value='<%=@user.birthday%>' required>
           </div>
         </div>
       </fieldset>
       <fieldset>
         <legend>Endereço do Comprador</legend>
         <div class="form-group">
           <label class="col-sm-3 control-label">Endereço</label>
           <div class="col-sm-5">
             <input type="text" class="form-control" name='street' placeholder="exp: SQS 215 Bloco K" value='<%=@user.street%>' required>
           </div>
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">Número</label>
           <div class="col-sm-1" style='width:80px'>
             <input type="text" class="form-control" name='number' placeholder="999" value='<%=@user.number%>' required>
           </div>
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">Complemento</label>
           <div class="col-sm-5">
             <input type="text" class="form-control" name='complement' placeholder="Setor Bancário" value='<%=@user.complement%>'>
           </div>
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">Bairro</label>
           <div class="col-sm-5">
             <input type="text" class="form-control" name='district' placeholder="Asa Norte" value='<%=@user.district%>'>
           </div>
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">Cidade</label>
           <div class="col-sm-5">
             <input type="text" class="form-control" name='city' placeholder="Sobradinho" value='<%=@user.city_pag%>'>
           </div>
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">Estado</label>
           <div class="col-sm-1" style='width:80px'>
             <input type="text" class="form-control" name='state' placeholder="DF" value='<%=@user.state%>' required>
           </div>
           <div class="col-sm-3">
             <input id="cep" type="text" class="form-control" name='postal_code' placeholder="CEP" value='<%=@user.postal_code%>' required>
           </div>
         </div>
       </fieldset>
       <fieldset>
         <legend>Dados do Cartão</legend>
         <div class="form-group">
           <label class="col-sm-3 control-label">Nome no Cartão</label>
           <div class="col-sm-5">
             <input type="text" class="form-control" name='card_name' id='card-name' placeholder="Card Holder's Name" required>
           </div>
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label" for="card-number">Número do Cartão</label>
           <div class="col-sm-5">
             <input type="text" class="form-control" name='card-number' id='card-number' placeholder="Debit/Credit Card Number" required>
           </div>
           <div class="col-sm-1">
             <span id="card-flag"></span>
           </div>
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">Validade</label>
           <div class="col-sm-9">
             <div class="row">
               <div class="col-xs-3">
                 <select class="form-control col-sm-2" name='card-month' id='card-month' required>
                   <option>Mês</option>
                   <option value="01">Jan (01)</option>
                   <option value="02">Fev (02)</option>
                   <option value="03">Mar (03)</option>
                   <option value="04">Abr (04)</option>
                   <option value="05">Mai (05)</option>
                   <option value="06">Jun (06)</option>
                   <option value="07">Jul (07)</option>
                   <option value="08">Ago (08)</option>
                   <option value="09">Set (09)</option>
                   <option value="10">Out (10)</option>
                   <option value="11">Nov (11)</option>
                   <option value="12">Dez (12)</option>
                 </select>
               </div>
               <div class="col-xs-3">
                 <select class="form-control" name='card-year' id='card-year' required>
                   <option value="2016">2016</option>
                   <option value="2017">2017</option>
                   <option value="2018">2018</option>
                   <option value="2019">2019</option>
                   <option value="2010">2020</option>
                   <option value="2021">2021</option>
                   <option value="2022">2022</option>
                   <option value="2023">2023</option>
                   <option value="2024">2024</option>
                   <option value="2025">2025</option>
                   <option value="2026">2026</option>
                   <option value="2027">2027</option>
                   <option value="2028">2028</option>
                   <option value="2029">2029</option>
                   <option value="2030">2030</option>
                 </select>
               </div>
             </div>
           </div>
         </div>
         <div class="form-group" id="card-cvv-box" style="display: none">
           <label class="col-sm-3 control-label">Card CVV</label>
           <div class="col-sm-3">
             <input type="text" class="form-control" name='card-cvv' id='card-cvv' placeholder="Security Code">
           </div>
         </div>
         <div class="form-group" id="card-options-box" style="display: none">
           <hr />
           <label class="col-sm-3 control-label">Opções de Parcelamento</label>
           <div class="col-sm-3">
             <select class="form-control col-sm-2" id="card-options" name='parcelamento'>
             </select>
           </div>
           <hr />
         </div>
         <div class="form-group">
           <div class="col-sm-offset-3 col-sm-9">
             <button type="button" class="btn btn-success" id="buy-button">Confirmar dados do cartão</button>
           </div>
         </div>
       </fieldset>
     </div>
     <div id='finish-buy' style="display: none">
       <fieldset>
         <legend>Confirmar Pagamento</legend>
         <div class="form-group">
           <div class="col-sm-offset-3 col-sm-9">
             <%= csrf_meta_tags %>
             <button type="submit" class="btn btn-success" id="buy-button">Finalizar Compra</button>
             <button type="button" class="btn btn-primary" id="edit-payment">Editar Meio de Pagamento</button>
           </div>
         </div>
       </fieldset>
     </div>
   </form>
   <% end %>
    </div>
  </div>
</div>
</div>
</body>
<script>
$(document).on('click', 'input:radio', function() {
  var frete = 0;
  var tipoEntrega = $(this).attr('id');
  $('#comprar').removeAttr("title");
  if (tipoEntrega == 'com_frete') {
    $('#form_cep').fadeIn(400);
    $('#form_com_frete').fadeIn(400);
    $('#correios_pac').prop("checked", true );
    $('#forma_entrega').val('PAC');
    frete = $('#correios_pac').next().text();
    FreteFade(frete);
  }
  else if (tipoEntrega == 'sem_frete') {
    $('#form_cep').fadeOut(400);
    $('#form_com_frete').fadeOut(400);
    $('#forma_entrega').val('OFFICE');
    frete = 0.00;
    FreteFade(frete);
  }
  else if (tipoEntrega == 'correios_pac') {
    $('#forma_entrega').val('PAC');
    frete = $('#correios_pac').next().text();
    FreteFade(frete);
  }
  else if (tipoEntrega == 'correios_sedex') {
    $('#forma_entrega').val('SEDEX');
    frete = $('#correios_sedex').next().text();
    FreteFade(frete);
  };
  $("#comprar").prop( "disabled", false );
  var stringV = $('#preco_total').text();
  var index1 = stringV.indexOf('$');
  var index2 = stringV.indexOf('.');
  var subTotal = Number(stringV.slice(index1+1, index2+3));
  console.log(subTotal, frete);
  var precoTotal = 0;
  precoTotal = subTotal + Number(frete);
  $('#price').val(precoTotal);
  $('#preco_final').hide();
  $('#preco_final').text('R$'+precoTotal.toFixed(2));
  $('#preco_final').fadeIn(400);
});
function FreteFade(valor){
  $('#frete').hide();
  $('#frete').text('R$' + Number(valor).toFixed(2));
  $('#frete').fadeIn(400);
}
</script>
