<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 

    .panel-primary {
    border-color: #ccc !important;


}

.panel-primary h2{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
 

}
.panel-footer{

    background-color: white;
    border-color: #f5f5f5;
}


    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      padding-top: 300px;
      color:#fff;
      background: no-repeat center center;
      width: 100%; 
      background-image: url('../images/varinha3.jpg')

    }


.imghover {
  opacity: 0.8;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}



.imgcontainer:hover .imghover {
  opacity: 0.3;
}




  </style>
</head>
<div class="tesste">
<body>

<div class="jumbotron" style="">
  <div class="container text-center">
    <h2>Tutoriais</h2>      
    <p>Aprenda sobre o mundo da impressão 3D com a Beeprinted</p>
  </div>
</div>
<br>

<div class="container">    
  <div class="row">
  <a href=(learn_acabamento_path)>
    <div class="col-sm-4">
    <a href=<%=learn_material_path%>>
      <div class="panel panel-primary">
        
        <div style="position:relative;" class="imgcontainer">
        <h2 style="position:absolute;" class="centralizador"><strong>ABS ou PLA?</strong></h2>
        <img src="../images/varinha3.jpg" class="img-responsive imghover" style=" " alt="Image">
        </div>
        
        <div class="panel-footer w3-center"><h5>Descubra qual material se encaixa melhor em seu projeto</h5></div>
      </div>
      </a>
    </div>
    </a>
    <a href=<%=learn_acabamento_path%>>
    <div class="col-sm-4">

      <div class="panel panel-primary">
        
        <div style="position:relative;" class="imgcontainer">
        <h2 style="position:absolute;" class="centralizador"><strong>Acabamento</strong></h2>
        <img src="../images/varinha3.jpg" class="img-responsive imghover" style=" " alt="Image">
        </div>
        <div class="panel-footer w3-center"><h5>Faça a varinha das varinhas e aprenda sobre acabamento com este tutorial</h5></div>
      </div>
    </div>
    </a>
    <a href=<%=learn_modelagem_path%>>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        
        <div style="position:relative;" class="imgcontainer">
        <h2 style="position:absolute;" class="centralizador"><strong>Top Sites</strong></h2>
        <img src="../images/varinha3.jpg" class="img-responsive imghover" style=" " alt="Image">
        </div>
        <div class="panel-footer w3-center"><h5>Descubra quais são os melhores sites para baixar modelos 3D</h5></div>
        
      </div>
    </div>
    </a>

  </div>
</div><br>

<div class="container">    
    <div class="row">
    <a href=<%=learn_primeira_path%>>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        
        <div style="position:relative;" class="imgcontainer">
        <h2 style="position:absolute;" class="centralizador"><strong>Primeira vez</strong></h2>
        <img src="../images/varinha3.jpg" class="img-responsive imghover" style=" " alt="Image">
        </div>
        <div class="panel-footer w3-center"><h5>Aprenda sobre todo o processo de impressao 3D</h5></div>
      </div>
    </div>
    </a>
    <a href=<%=learn_acabamento_path%>>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        
        <div style="position:relative;" class="imgcontainer">
        <h2 style="position:absolute;" class="centralizador"><strong>ABS ou PLA?</strong></h2>
        <img src="../images/varinha3.jpg" class="img-responsive imghover" style=" " alt="Image">
        </div>
        <div class="panel-footer w3-center"><h5>Descubra qual é o melhor para você</h5></div>
      </div>
    </div>
    </a>
    <a href=<%=learn_acabamento_path%>>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        
        <div style="position:relative;" class="imgcontainer">
        <h2 style="position:absolute;" class="centralizador"><strong>ABS ou PLA?</strong></h2>
        <img src="../images/varinha3.jpg" class="img-responsive imghover" style=" " alt="Image">
        </div>
        <div class="panel-footer w3-center"><h5>Descubra qual é o melhor para você</h5></div>
      </div>
    </div>
    </a>
  </div>
    <footer>
            <div class="row">
                <div class="col-lg-12">
                <hr>
                    <p>Copyright © BeePrinted 2017</p>
                </div>
            </div>
            <!-- /.row -->
        
  </footer>


</body>
</div>
</html>
