<div class="posts-wrapper" style="padding-top:75px;font-weight: 300;">
  <div class="quadradao"> 
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <div id="view_teste">
        </div>

        <%= simple_form_for @post, html: { multipart: true } do |f| %>
          <div class="row">
            <div class="col-md-12 text-center">
              <%= f.error_notification %>
            </div>
          </div>
          <div class="container-fluid">
            <div class="form-group text-center">
              <h4>Adicione um modelo 3D (.stl):</h4>
              <%= f.input :attachment, label: false%>
            </div>
            <div class="form-group text-center" id="formgroup2">
              <%= f.input :caption, label: false, placeholder: 'Adicionar Descriçao' %>
            </div>
            <div class="form-group text-center" id="formgroup2">
              <%= f.input :volume, label: false, placeholder: 'Adicionar volume' %>
            </div>
            <div class="form-group text-center" id="formgroup2">
              <h4>Adicione um preço por impressao:</h4>
              <%= f.input :preco, label: false, placeholder: 'Adicionar preco' %>
              <a href="javascript:void(0)" onclick="document.getElementById('subscribe').style.display='block'">Adicionar Conta Bancária</a>
            </div>

            <div class="form-group text-center" >
            <h4>Adicione uma imagem do modelo:</h4>
              <%= f.input :image, label: false, placeholder: 'Adicionar uma Imagem:'%>
            </div>
            <div class="form-group text-center">
              <h4>Categoria:</h4>
              <%= f.collection_check_boxes :type_ids, Type.all, :id, :name do |b| %>
                <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                </div>
              <% end %>
            </div>
            <div class="form-group text-center" id="formgroup2">
              <%= f.button :submit, class: 'btn-success btn-block' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
<div id="subscribe" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom w3-padding-large">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-closebtn w3-xlarge w3-hover-text-grey w3-margin"></i>
<%= form_for current_user, url: "#{update_profile_path(current_user.user_name)}",class:"form-horizontal" do |f| %>
  <fieldset style="padding-left:170px">
  <legend class="w3-center">Dados da Conta Bancária</legend>
  <div class="form-group form-custom">
        <label class="col-sm-3 control-label">País do Banco</label>
        <div class="col-sm-5">
          <%= f.text_field :conta_pais, class:"form-control", required: true %>
        </div>
    </div>
    <div class="form-group form-custom">
        <label class="col-sm-3 control-label">Nome</label>
        <div class="col-sm-5">
          <%= f.text_field :conta_nome, class:"form-control", required: true %>
        </div>
    </div>
    <div class="form-group form-custom">
        <label class="col-sm-3 control-label">Sobrenome</label>
        <div class="col-sm-5">
          <%= f.text_field :conta_sobrenome, class:"form-control", required: true %>
        </div>
    </div>
    <div class="form-group form-custom">
        <label class="col-sm-3 control-label">CPF</label>
        <div class="col-sm-5">
          <%= f.text_field :conta_cpf, class:"form-control", required: true %>
        </div>
    </div>
    <div class="form-group form-custom">
        <label class="col-sm-3 control-label">Nome do Banco</label>
        <div class="col-sm-5">
          <%= f.text_field :conta_banco, class:"form-control", required: true %>
        </div>
    </div>
    <div class="form-group form-custom">
        <label class="col-sm-3 control-label">Número da Agência</label>
        <div class="col-sm-5">
          <%= f.text_field :conta_agencia, class:"form-control", required: true %>
        </div>
    </div>
    <div class="form-group form-custom">
        <label class="col-sm-3 control-label">Tipo da Conta</label>
        <div class="col-sm-5">
          <%= f.select :conta_tipo, options_for_select(['Conta Corrente', 'Poupança'], ),{},class:"form-control" %>
        </div>
    </div>
    <div class="form-group form-custom">
        <label class="col-sm-3 control-label">Número da Conta</label>
        <div class="col-sm-5">
          <%= f.text_field :conta_num, class:"form-control", required: true %>
        </div>
    </div>
    <div class="form-group form-custom">
        <div class="col-sm-5 w3-center">
          <%= f.submit "Atualizar Conta Bancária", class:"w3-btn w3-green w3-section w3-round" %>
        </div>
    </div>
  </fieldset>
<%end%>
</div>
</div>
</div>

<style type="text/css">
  
.form-custom{
  width:100%;
  height:40px;
}


#post_image {
    padding: 0em;
    margin: 0px;
}



h4{
  font-weight: 600;
}

.quadradao{
  border: 0px solid black;
  border-radius: 15px;
}

#formgroup2{
  width: 100% !important;
  
}
.btn-success{
    background-color: white;
    color: black;
    border: 3px solid #ccc;
}

#post_caption{
  height: 80px;
}


canvas{
  width: 100% !important;

}

</style>