<div class="posts-wrapper" style="padding-top:75px;font-weight: 300;">
  <div class="quadradao"> 
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <div id="view_teste">
        </div>

        <%= simple_form_for @post, html: { multipart: true } do |f| %>
          <div class="row">
            <div class="col-md-12 text-center">
              <%= f.error_notification %>
            </div>
          </div>
          <div class="container-fluid">
            <div class="form-group text-center">
              <h4>Adicione um modelo 3D (.stl):</h4>
              <%= f.input :attachment, label: false%>
            </div>
            <div class="form-group text-center" id="formgroup2">
              <%= f.input :caption, label: false, placeholder: 'Adicionar Descriçao' %>
            </div>
            <div class="form-group text-center" id="formgroup2">
              <%= f.input :volume, label: false, placeholder: 'Adicionar volume' %>
            </div>

            <div class="form-group text-center" >
            <h4>Adicione uma imagem do modelo:</h4>
              <%= f.input :image, label: false, placeholder: 'Adicionar uma Imagem:'%>
            </div>
            <div class="form-group text-center">
              <h4>Categoria:</h4>
              <%= f.collection_check_boxes :type_ids, Type.all, :id, :name do |b| %>
                <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                </div>
              <% end %>
            </div>
            <div class="form-group text-center" id="formgroup2">
              <%= f.button :submit, class: 'btn-success btn-block' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>


<style type="text/css">
  


#post_image {
    padding: 0em;
    margin: 0px;
}



h4{
  font-weight: 600;
}

.quadradao{
  border: 0px solid black;
  border-radius: 15px;
}

#formgroup2{
  width: 100% !important;
  
}
.btn-success{
    background-color: white;
    color: black;
    border: 3px solid #ccc;
}

#post_caption{
  height: 80px;
}


canvas{
  width: 100% !important;

}

</style>