

    <!-- Navigation -->

    <!-- Page Content -->

<% @materials.each do |material|%>
  <input id="potencia_<%=material.name%>" type="hidden" name="potencia_<%=material.name%>" value="<%= material.potencia %>">
  <input id="densidade_<%=material.name%>" type="hidden" name="densidade_<%=material.name%>" value="<%= material.densidade %>">
  <input id="preco_<%=material.name%>" type="hidden" name="preco_<%=material.name%>" value="<%= material.preco %>">
<%end%>
<input id="area" type="hidden" name="area" value="<%=@area%>">
<input id="kwh" type="hidden" name="kwh" value="<%=@kwh%>">
<input id="desgaste" type="hidden" name="desgaste" value="<%=@desgaste%>">
<div class="container" style='margin-top:100px;'>
	<bla id="alerta_adicionar"></bla>
    <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <div class='row'>
                	<div class='col-lg-2' style='width:90px'>
                		<%= link_to (image_tag @post.user.avatar.url(:medium),class: "w3-circle", style: 'height:80px;width:80px;'), profile_path(@post.user.user_name) %>
                	</div>
	                <div class='col-lg-6'>
	                <!-- Title -->
	                	<h2 style='margin-bottom:0px; color:#009FAB'><%=@post.caption%></h2>

	                <!-- Author -->

	                	<p class="lead" style='font-size:17px; color:#838383;'>
	                    	por <%= link_to "#{@post.user.completo}", profile_path(@post.user.user_name)%>, postado há <%= time_ago_in_words @post.created_at %></a>
	                	</p>
	                </div>
	            </div>

                <!-- Preview Image -->
                <div style='height:550px;overflow:hidden'>
                <div class="w3-display-container mySlides">
                	<div class="img-responsive" style='width:100%' id="view"></div>
                </div>
                <div class="w3-display-container mySlides">
                	<%= link_to (image_tag @post.image.url(:medium), style:"width:100%;margin-bottom:-6px; overflow:hidden"), post_path(@post) %>
                </div>
                </div>
                <div class="w3-row-padding w3-section" style='padding-left:0px;'>
                	<div class="w3-col s3" style="padding-left:0px">
                		<%=image_tag @post.image.url(:medium),style:"width:100%; cursor:pointer", onclick:"currentDiv(1)",class:"demo w3-opacity w3-hover-opacity-off", title: @post.caption%>
                	</div>
                	<div class="w3-col s3">
                		<%=image_tag @post.image.url(:medium),style:"width:100%; cursor:pointer", onclick:"currentDiv(2)",class:"demo w3-opacity w3-hover-opacity-off", title: @post.caption%>
                	</div>




                </div>
                <hr>

                <!-- Post Content -->
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
<script charset="UTF-8" type="text/javascript">
  $(document).ready(function(){
    window.addEventListener("load", function () {
    "use strict";
    var corAtual;
    //--------------- IMPRIMIR -----------------------------
      var volume = 0;
      var area = 0;
      var kwh = 0;
      var quantidade = 0;
      var escala = 0;
      var material = 0;
      var potencia = 0;
      var densidade = 0;
      var pM = 0;
      var preenchN = 0;
      var resolucao = 0;
      var desgaste = 0;
      var volScale3 = 0;
      var peso = 0;
      var precoMD = 0;
      var precoE = 0;
      var L = 0;
      var shell = 0;
      var percentShell = 0;
      var precoTotal = 0;
      var boundingBox = $('#bounding_box').text();
      var x = $('#x').val();
      var y = $('#y').val();
      var z = $('#z').val();
      volume = $('#volume_input').val();

    $(document).on('click', '#print', function(){
        var urlMain = window.location.pathname;
        urlMain = urlMain + '/new';
        //var urlMain = '/1/projetos';
        console.log(urlMain);

        $.ajax({
            url: urlMain,
            cache: false,
            success: function(html){
              $('#print').hide();
              $('#print').after(html);
            }
        });

    });
    //------------------ PRECO DINAMICO ----------------------
    $(document).on('change keyup', '.config_order', function(e){
      area = $('#area').val();
      kwh = $('#kwh').val();
      quantidade = $('#order_quantidade').val();
      escala = $('#order_scale').val();
      var auxEscala = escala.indexOf(',');
      if (auxEscala != -1) {
        escala = escala.replace(/,/g, '.');
        console.log(escala);
        $('#order_scale').val(escala);
      };
      material = $('#order_material').val();
      potencia = $('#potencia_'+material).val();
      densidade = $('#densidade_'+material).val();
      pM = $('#preco_'+material).val();
      resolucao = $('#order_resolution').val();
      desgaste = $('#desgaste').val();

      var preench = $('#order_preench').val();
      var aux = preench.indexOf('%');
      preench = preench.slice(0, aux);
      preenchN = preench/100;

      console.log('volume:'+volume);
      console.log('area:'+area);
      console.log('kwh:'+kwh);
      console.log('quantidade:'+quantidade);
      console.log('escala:'+escala);
      console.log('material:'+material);
      console.log('potencia:'+potencia);
      console.log('densidade:'+densidade);
      console.log('pM:'+pM);
      console.log('resolucao:'+resolucao);
      console.log('desgaste:'+desgaste);


      shell = area*0.08;
      percentShell = shell/(volume*escala);
      if (percentShell > 1) {
        percentShell = 1;
      };
      volScale3 = volume*escala*escala*escala;
      peso = volScale3*densidade*(percentShell + ((1 - percentShell)*preenchN));
      precoMD = peso*pM;
      precoMD = precoMD + peso*desgaste*0.2/resolucao;
      precoE = ((peso/(40*resolucao)) + 0.2)*potencia*kwh;
      if ((volScale3 >= 0) && (volScale3 < 30)) {
        L = 3 - (0.7/30)*volScale3;
      }else if ((volScale3 >= 30) && (volScale3 < 100)) {
        L = 2.47143 - (0.4/70)*volScale3;
      }else if ((volScale3 >= 100) && (volScale3 < 600)) {
        L = 1.94 - 0.0004*volScale3
      }else if (volScale3 >= 600) {
        L = 1.70;
      };
      var custo = (precoMD + precoE);
      console.log('CUSTO:'+custo);
      precoTotal = (precoMD + precoE)*(L+1);

      precoTotal = Math.round(100*precoTotal)/100;
      peso = Math.round(100*peso)/100;
      var idName = $(this).attr('id');
      console.log("ID: "+idName);
      if (idName == 'order_scale') {
        BoundingBoxVolume(x, y, z, volume, escala);
      };
      if ((idName == 'order_scale')||(idName == 'order_material')||(idName == 'order_preench')) {
        $('#peso').hide();
        $('#peso').text(peso.toFixed(0)+' g');
        $('#peso').fadeIn(800);
      };

      $('#preco_total').hide();
      $('#preco_total').text('R$ '+precoTotal.toFixed(2));
      $('#preco_total').fadeIn(800);

      console.log('L:'+L);
    });

 	var w = 750, h = 550;
    //--------------------------------------------------------
    //if (screen.width <= 1000){
    //	w = screen.width*0.8;
    //	h = 550;
    //}
    
    var renderer = new THREE.WebGLRenderer();
    renderer.setSize(w, h);
    var view = document.getElementById("view");
    view.appendChild(renderer.domElement);
    
      var camera = new THREE.PerspectiveCamera(45, w / h, 1, 1000);
      camera.position.set(0, 0, 150);
      var controls = new THREE.OrbitControls(camera, view);
    
    var scene = new THREE.Scene();
    scene.add(new THREE.AmbientLight(0x666666));
    scene.background = new THREE.Color( 0xf9f9f9);
    
    var alpha;
    var degrees;
    var cameraAng;
    var maior;
    
    var light1 = new THREE.DirectionalLight(0xffffff);
    light1.position.set(0, 100, 100);
    scene.add(light1);
    
    var light2 = new THREE.DirectionalLight(0xffffff);
    light2.position.set(0, -100, -100);
    scene.add(light2);
    
    var mat = new THREE.MeshPhongMaterial({
        color: 0xcccccc, ambient: 0xcccccc, specular: 0x030303,
    });
    var obj = new THREE.Mesh(new THREE.Geometry(), mat);
    scene.add(obj);

    var pivot = new THREE.Object3D();
    scene.add(pivot);
    var manager = new THREE.LoadingManager();

      // file load
    var oStlLoader = new THREE.STLLoader();  //----------------------------------------------------------------------------------------
    oStlLoader.load('<%=@post.attachment.url%>', function(geometry) {

        var material = new THREE.MeshPhongMaterial({
        color: 0x009FAB, ambient: 0xcccccc, specular: 0x030303,
      });

        obj = new THREE.Mesh(geometry, material);
        obj.rotation.x = -90 * Math.PI/180; //-105 graus

        var box = new THREE.Box3().setFromObject( obj );
        console.log( box.min, box.max, box.size(),obj.rotation );
            obj.position.y = -(box.max.y - (box.size().y/2));
            obj.position.x = -(box.max.x - (box.size().x/2));
            obj.position.z = -(box.max.z - (box.size().z/2));
            //obj.position.x = box.max.x - box.size();
            //obj.position.x = (box.min.x + (box.size().x/2));
            //obj.position.y = obj.position.y - box.size().y/2;
        pivot = new THREE.Object3D();

        //pivot.position.set(obj.position.x, obj.position.y, obj.position.z);
        pivot.position.set(0, 0, 0);
        //pivot.rotation.set(obj.rotation.x, obj.rotation.y, obj.rotation.z);
        //obj.rotation.set(0, 0, 0);
        pivot.rotation.set(0, 0, 0);

        pivot.add(obj);
        //pivot.rotation.x = -105 * Math.PI/180;;

        //var w = 640, h = 450;
        if ((box.size().x>box.size().y)||(box.size().z>box.size().y)) {
              if (box.size().z>box.size().y) {
                maior = box.size().z;
              }
              else{
                maior = box.size().x;
              }
        }else{
            maior = box.size().y;
        };

        alpha = 2*Math.atan(maior/400);
        console.log(alpha);

        degrees = alpha * (180/Math.PI);
        camera = new THREE.PerspectiveCamera(degrees, w / h, 1, 800);
        //camera.position.set(0, 86.55, 150);
        camera.position.set(0, 63.767, 300);
        cameraAng = 12 * (Math.PI/180);
        camera.rotation.set(-cameraAng, 0, 0);
        controls = new THREE.OrbitControls(camera, view);

        scene.add(pivot);
    });//----------------------------------------------------------------------------------------------------------------------------
    //pivot.rotation.z = 90;
    function loop() {
        requestAnimationFrame(loop);

        corAtual = $('#order_color').val();
        if (corAtual === "Vermelho") {
            obj.material.color.setHex( 0xB22222 );
        }else if (corAtual === "Azul") {
            obj.material.color.setHex( 0x4682B4 );
        }else if (corAtual === "Amarelo") {
            obj.material.color.setHex( 0xFFD700 );
        }else if (corAtual === "Verde") {
            obj.material.color.setHex( 0x008000 );
        };

        //console.log(instaColor);
        pivot.rotation.y += 0.0014;
        controls.update();
        renderer.clear();
        renderer.render(scene, camera);
    };
       loop();

}, false);
});
function BoundingBoxVolume(x, y, z, volume, escala){
  x = x*escala;
  y = y*escala;
  z = z*escala;
  volume = volume*escala*escala*escala;

  $('#volume').hide();
  $('#bounding_box').hide();
  $('#volume').text(volume.toFixed(0)+' cm³');
  $('#bounding_box').text(x.toFixed(1)+' x '+y.toFixed(1)+' x '+z.toFixed(1)+' cm');
  $('#volume').fadeIn(800);
  $('#bounding_box').fadeIn(800);
}
</script>
  <script>
  	$("canvas").outerHeight($(window).height()-$("canvas").offset().top- Math.abs($("canvas").outerHeight(true) - $("canvas").outerHeight()));
    $(window).on("resize", function(){         				$("canvas").outerHeight($(window).height()-$("canvas").offset().top- Math.abs($("canvas").outerHeight(true) - $("canvas").outerHeight()));
    });
  </script>
    <script>
// Slideshow Apartment Images
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>

