<%= stylesheet_link_tag "bootstrap.min"%>
        <%= stylesheet_link_tag "owl.carousel_micro"%>
        <%= stylesheet_link_tag "anima"%>
        <%= stylesheet_link_tag "icons"%>
        <%= stylesheet_link_tag "style_micro"%>
        <%= stylesheet_link_tag "sliders"%>
        <%= stylesheet_link_tag "hero-slider"%>
        <%= stylesheet_link_tag "project-slider"%>
        <%= stylesheet_link_tag "blue"%>
        <%= stylesheet_link_tag "w3"%>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<style>
.filtro-btn{
  background-color:#fff;
  color: black;
  cursor: pointer;
  border:none;
  border-radius: 5px;
  padding: 10px 18px;
}
.filtro-btn:hover {
  color: #009FAB;
}
.filtro-btn-azul{
  background-color:#009FAB;
  color:white;
  cursor: pointer;
  border:none;
  border-radius: 5px;
  padding: 10px 20px;
}
#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
.white-panel img {
  width: 100%;
  max-width: 100%;
}
.white-panel {
  position: absolute;
  background: white;
  border-radius: 5px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
</style>
<body style="background-color: #f2f2f2";>
<div style='margin:auto; width:80%; background-color:white;border: 1px solid #e3e3e3;'> 
	<h3 class="w3-center" style='text-align:center;'>Seja Bem-vindo <%=@email%></h3>
	<h5 class="w3-center" style='text-align:center;'>Nós da Beeprinted estamos muito felizes de recebê-lo em nosso comunidade!</h5>
	<div class="image-upload w3-center" style='text-align:center;'>
		 <%= image_tag "https://beeprinted.com.br/images/LOGO-claro.png",class: "imageperfil", style: 'height:106px;width:106px;position:relative; cursor:pointer', id:'image-preview' %>
	</div>

	<h5 style='text-align:center;'>Você pode confirmar sua conta clicando no link abaixo:</h5>

	<h5 style='text-align:center;'><a style="margin: auto;text-align:center" href=<%=confirmation_url(@resource, confirmation_token: @token)%>>

		Confirme sua Conta
	</a>
	</h5>
</div>
</body>
