<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Olá <%= User.first.name %></h3>
    <h5>
    <% @carrinho.orders.each do |order| %> 
      Por favor imprima o modelo que está nesse link:
    </h5>
      <%= link_to 'Clique aqui para baixar o arquivo .stl', "beeprinted.herokuapp.com/uploads/post/#{order.post.id}/#{File.basename(order.post.attachment.path, '.*')}-binary.stl" %>
    <h5>Imprima com as seguintes especificações:</h5>
      <p>Material: <%= order.material %></p>
      <p>Cor: <%= order.color %></p>
      <p>Resolution: <%= order.resolution %></p>
      <p>Preenchimento: <%= order.preench %></p>
      <%end%>
      <h5>Envie para:</h5>
      <p><%= @carrinho.buyer_name %></p>
      <p><%= @carrinho.street %> <%= @carrinho.number %></p>
      <p><%= @carrinho.complement %></p>
      <p><%= @carrinho.district %></p>
      <p><%= @carrinho.city %></p>
      <p><%= @carrinho.state %> <%= @carrinho.postal_code %></p>
  </body>
</html>