<script src=<%= asset_path('pagination.js') %>></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
.w3-btn{
background-color: #6441a4;
}
</style>
<style>

/*
Ref:
Thanks to:
https://www.jqueryscript.net/layout/Simple-jQuery-Plugin-To-Create-Pinterest-Style-Grid-Layout-Pinterest-Grid.html
*/

body {   
}    
.filtro-btn{
  background-color:#fff;
  color: black;
  cursor: pointer;
  border:none;
  padding: 10px 18px;
}
.filtro-btn:hover {
  color: #009FAB;
}
.filtro-btn-azul{
  background-color:#009FAB;
  color:white;
  cursor: pointer;
  border:none;
  padding: 10px 20px;
}
#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
.white-panel img {
  width: 100%;
  max-width: 100%;
}
.white-panel {
  position: absolute;
  background: white;
  border-radius: 5px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}


.filtro_nav{
	width: 100%;
    background: #f2f2f2;
    border-right: none;
}

.filtro_nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.filtro_nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}

.filtro_nav ul li:first-child {
    border-left: none;
}

.filtro_nav ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}

@media screen and (max-width: 480px) {

.filtro_nav ul li {
	width: 25%;
}



</style>
<!--<script type="text/javascript" src="../assets/show_profile.js"></script>-->

<div class="w3-light-grey w3-content" style="max-width:1200px; padding-top: 30px">

<!-- Sidenav/menu -->

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style='background-color: #f2f2f2;'>

  <!-- Header -->
  <div class="w3-container" id="portfolio" style='padding-left:0px; padding-right:12px; '>
    <div class="w3-section w3-padding-16" style='border-bottom:4px solid #ccc'>

    <div class='filtro_nav'>
    	<ul>
    		<% if @filtro == 0 %>
    			<li><a class="filtro-btn-azul" style='color:white;' href=<%=galeria_path%>><i class="fa fa-cubes w3-margin-right"></i>Todos</a></li>
    		<%else%>
    			<li><a class="filtro-btn" href=<%=galeria_path%>><i class="fa fa-cubes w3-margin-right"></i>Todos</a></li>
    		<%end%>
    		<% if @filtro == 1 %>
		    	<li><a class="filtro-btn-azul" style='color:white;' href=<%=galeria_arte_path%>><i class="fa fa-paint-brush w3-margin-right"></i>Arte</a></li>
		    <%else%>
		    	<li><a class="filtro-btn" href=<%=galeria_arte_path%>><i class="fa fa-paint-brush w3-margin-right"></i>Arte</a></li>
		    <%end%>
		    <% if @filtro == 2 %>
		    	<li><a class="filtro-btn-azul" style='color:white;' href=<%=galeria_fashion_path%>><i class="fa fa-diamond w3-margin-right"></i>Fashion</a></li>
		    <%else%>
		    	<li><a class="filtro-btn" href=<%=galeria_fashion_path%>><i class="fa fa-diamond w3-margin-right"></i>Fashion</a></li>
		    <%end%>
		    <% if @filtro == 3 %>
		    	<li><a class="filtro-btn-azul" style='color:white;' href=<%=galeria_gadgets_path%>><i class="fa fa-microchip w3-margin-right"></i>Gagdets</a></li>
		    <%else%>
		    	<li><a class="filtro-btn" href=<%=galeria_gadgets_path%>><i class="fa fa-microchip w3-margin-right"></i>Gagdets</a></li>
		    <%end%>
		    <% if @filtro == 4 %>
		    	<li><a class="filtro-btn-azul" style='color:white;' href=<%=galeria_hobby_path%>><i class="fa fa-plane w3-margin-right"></i>Hobby</a></li>
		    <%else%>
		    	<li><a class="filtro-btn" href=<%=galeria_hobby_path%>><i class="fa fa-plane w3-margin-right"></i>Hobby</a></li>
		    <%end%>
		    <% if @filtro == 5 %>
		    	<li><a class="filtro-btn-azul" style='color:white;' href=<%=galeria_casa_path%>><i class="fa fa-home w3-margin-right"></i>Para Casa</a></li>
		    <%else%>
		    	<li><a class="filtro-btn" href=<%=galeria_casa_path%>><i class="fa fa-home w3-margin-right"></i>Para Casa</a></li>
		    <%end%>
		    <% if @filtro == 6 %>
		    	<li><a class="filtro-btn-azul" style='color:white;' href=<%=galeria_aprendizado_path%>><i class="fa fa-pencil w3-margin-right"></i>Aprendizado</a></li>
		    <%else%>
		    	<li><a class="filtro-btn" href=<%=galeria_aprendizado_path%>><i class="fa fa-pencil w3-margin-right"></i>Aprendizado</a></li>
		    <%end%>
		    <% if @filtro == 7 %>
		    	<li><a class="filtro-btn-azul" style='color:white;' href=<%=galeria_modelos_path%>><i class="fa fa-cube w3-margin-right"></i>Modelos</a></li>
		    <%else%>
		    	<li><a class="filtro-btn" href=<%=galeria_modelos_path%>><i class="fa fa-cube w3-margin-right"></i>Modelos</a></li>
		    <%end%>
		    <% if @filtro == 8 %>
		    	<li><a class="filtro-btn-azul" style='color:white;' href=<%=galeria_ferramentas_path%>><i class="fa fa-wrench w3-margin-right"></i>Ferramentas</a></li>
		    <%else%>
		    	<li><a class="filtro-btn" href=<%=galeria_ferramentas_path%>><i class="fa fa-wrench w3-margin-right"></i>Ferramentas</a></li>
		    <%end%>
    	</ul>
    </div>

      <!--<div class='row'>
        <% if @filtro == 0 %>
          <div class="col-md-2">
          	<a href=<%=galeria_path%> class="filtro-btn-azul" id="Todos"><i class="fa fa-cubes w3-margin-right"></i>Todos</a>
          </div>
        <%else%>
        	<div class="col-md-2">
          		<a href=<%=galeria_path%> class="filtro-btn" id="Todos"><i class="fa fa-cubes w3-margin-right"></i>Todos</a>
          	</div>
        <%end%>
        <% if @filtro == 1 %>
        	<div class="col-md-2">
          		<a href=<%=galeria_arte_path%> class="filtro-btn-azul" id="Arte"><i class="fa fa-paint-brush w3-margin-right"></i>Arte</a>
        	</div>
        <%else%>
        	<div class="col-md-2">
          		<a href=<%=galeria_arte_path%> class="filtro-btn" id="Arte"><i class="fa fa-paint-brush w3-margin-right"></i>Arte</a>
        	</div>
        <%end%>
        <% if @filtro == 2 %>
        	<div class="col-md-2">
          		<a href=<%=galeria_fashion_path%> class="filtro-btn-azul" id="Fashion"><i class="fa fa-diamond w3-margin-right"></i>Fashion</a>
        	</div>
        <%else%>
        	<div class="col-md-2">
            	<a href=<%=galeria_fashion_path%> class="filtro-btn" id="Fashion"><i class="fa fa-diamond w3-margin-right"></i>Fashion</a>
            </div>
        <%end%>
        <% if @filtro == 3 %>
        	<div class="col-md-2">
          		<a href=<%=galeria_gadgets_path%> class="filtro-btn-azul" id="Gagdets"><i class="fa fa-microchip w3-margin-right"></i>Gadgets</a>
          	</div>
        <%else%>
        	<div class="col-md-2">
          		<a href=<%=galeria_gadgets_path%> class="filtro-btn" id="Gagdets"><i class="fa fa-microchip w3-margin-right"></i>Gadgets</a>
        	</div>
        <%end%>
        <% if @filtro == 4 %>
        	<div class="col-md-2">
          		<a href=<%=galeria_hobby_path%> class="filtro-btn-azul" id="Hobby"><i class="fa fa-plane w3-margin-right"></i>Hobby</a>
        	</div>
        <%else%>
        	<div class="col-md-2">
          		<a href=<%=galeria_hobby_path%> class="filtro-btn" id="Hobby"><i class="fa fa-plane w3-margin-right"></i>Hobby</a>
        	</div>
        <%end%>
        <% if @filtro == 5 %>
        	<div class="col-md-2">
          		<a href=<%=galeria_casa_path%> class="filtro-btn-azul" id="Para Casa"><i class="fa fa-home w3-margin-right"></i>Para Casa</a>
        	</div>
        <%else%>
        	<div class="col-md-2">
          		<a href=<%=galeria_casa_path%> class="filtro-btn" id="Para Casa"><i class="fa fa-home w3-margin-right"></i>Para Casa</a>
        	</div>
        <%end%>
        <% if @filtro == 6 %>
        	<div class="col-md-2">
          		<a href=<%=galeria_aprendizado_path%> class="filtro-btn-azul" id="Aprendizado"><i class="fa fa-pencil w3-margin-right"></i>Aprendizado</a>
        	</div>
        <%else%>
        	<div class="col-md-2">
          		<a href=<%=galeria_aprendizado_path%> class="filtro-btn" id="Aprendizado"><i class="fa fa-pencil w3-margin-right"></i>Aprendizado</a>
        	</div>
        <%end%>
        <% if @filtro == 7 %>
        	<div class="col-md-2">
          		<a href=<%=galeria_modelos_path%> class="filtro-btn-azul" id="Modelos"><i class="fa fa-cube w3-margin-right"></i>Modelos</a>
        	</div>
        <%else%>
        	<div class="col-md-2">
          		<a href=<%=galeria_modelos_path%> class="filtro-btn" id="Modelos"><i class="fa fa-cube w3-margin-right"></i>Modelos</a>
        	</div>
        <%end%>
        <% if @filtro == 8 %>
        	<div class="col-md-2">
          		<a href=<%=galeria_ferramentas_path%> class="filtro-btn-azul" id="Ferramentas"><i class="fa fa-wrench w3-margin-right"></i>Ferramentas</a>
        	</div>
        <%else%>
        	<div class="col-md-2">
          		<a href=<%=galeria_ferramentas_path%> class="filtro-btn" id="Ferramentas"><i class="fa fa-wrench w3-margin-right"></i>Ferramentas</a>
        	</div>
        <%end%>
      </div>-->
    </div>
  </div>
 <div id="my-posts">
  <section id="pinBoot">
    <%= render 'galeria/projects', posts: posts %>
  </section>
 </div>
   <div id="infinite-scrolling">
      <%= will_paginate posts %>
  </div>

  <!-- Footer -->

<!-- End page content -->
</div>

<script>
$(document).ready(function() {
$('#pinBoot').pinterest_grid({
no_columns: 4,
padding_x: 10,
padding_y: 10,
margin_bottom: 50,
single_column_breakpoint: 700
});
});

/*
Ref:
Thanks to:
https://www.jqueryscript.net/layout/Simple-jQuery-Plugin-To-Create-Pinterest-Style-Grid-Layout-Pinterest-Grid.html
*/


/*
    Pinterest Grid Plugin
    Copyright 2014 Mediademons
    @author smm 16/04/2014

    usage:

     $(document).ready(function() {

        $('#blog-landing').pinterest_grid({
            no_columns: 4
        });

    });


*/
;(function ($, window, document, undefined) {
    var pluginName = 'pinterest_grid',
        defaults = {
            padding_x: 10,
            padding_y: 10,
            no_columns: 3,
            margin_bottom: 50,
            single_column_breakpoint: 700
        },
        columns,
        $article,
        article_width;

    function Plugin(element, options) {
        this.element = element;
        this.options = $.extend({}, defaults, options) ;
        this._defaults = defaults;
        this._name = pluginName;
        this.init();
    }

    Plugin.prototype.init = function () {
        var self = this,
            resize_finish;

        $(window).resize(function() {
            clearTimeout(resize_finish);
            resize_finish = setTimeout( function () {
                self.make_layout_change(self);
            }, 11);
        });

        self.make_layout_change(self);

        setTimeout(function() {
            $(window).resize();
        }, 500);
    };

    Plugin.prototype.calculate = function (single_column_mode) {
        var self = this,
            tallest = 0,
            row = 0,
            $container = $(this.element),
            container_width = $container.width();
            $article = $(this.element).children();

        if(single_column_mode === true) {
            article_width = $container.width() - self.options.padding_x;
        } else {
            article_width = ($container.width() - self.options.padding_x * self.options.no_columns) / self.options.no_columns;
        }

        $article.each(function() {
            $(this).css('width', article_width);
        });

        columns = self.options.no_columns;

        $article.each(function(index) {
            var current_column,
                left_out = 0,
                top = 0,
                $this = $(this),
                prevAll = $this.prevAll(),
                tallest = 0;

            if(single_column_mode === false) {
                current_column = (index % columns);
            } else {
                current_column = 0;
            }

            for(var t = 0; t < columns; t++) {
                $this.removeClass('c'+t);
            }

            if(index % columns === 0) {
                row++;
            }

            $this.addClass('c' + current_column);
            $this.addClass('r' + row);

            prevAll.each(function(index) {
                if($(this).hasClass('c' + current_column)) {
                    top += $(this).outerHeight() + self.options.padding_y;
                }
            });

            if(single_column_mode === true) {
                left_out = 0;
            } else {
                left_out = (index % columns) * (article_width + self.options.padding_x);
            }

            $this.css({
                'left': left_out,
                'top' : top
            });
        });

        this.tallest($container);
        $(window).resize();
    };

    Plugin.prototype.tallest = function (_container) {
        var column_heights = [],
            largest = 0;

        for(var z = 0; z < columns; z++) {
            var temp_height = 0;
            _container.find('.c'+z).each(function() {
                temp_height += $(this).outerHeight();
            });
            column_heights[z] = temp_height;
        }

        largest = Math.max.apply(Math, column_heights);
        _container.css('height', largest + (this.options.padding_y + this.options.margin_bottom));
    };

    Plugin.prototype.make_layout_change = function (_self) {
        if($(window).width() < _self.options.single_column_breakpoint) {
            _self.calculate(true);
        } else {
            _self.calculate(false);
        }
    };

    $.fn[pluginName] = function (options) {
        return this.each(function () {
            if (!$.data(this, 'plugin_' + pluginName)) {
                $.data(this, 'plugin_' + pluginName,
                new Plugin(this, options));
            }
        });
    }

})(jQuery, window, document);
</script>

</div>