<script>
jQuery(function() {
  var colors;
  colors = $('#order_color').html();
  console.log(colors);
  return $('#order_material').change(function() {
    var material, options;
    material = $('#order_material :selected').text();
    options = $(colors).filter("optgroup[label=" + material + "]").html();
    console.log(options);
    if (options) {
      return $('#order_color').html(options);
    } else {
      return $('#order_color').empty();
    }
  });
});
</script>
<%= form_for @order, url: "#{checkout_path(@post.id)}" do |f| %>
<div style="">
<hr>
<ui style="list-style-type :none;">
  <li>
    <div class="field">
        <div class="esquerda">
        <%= f.label :quantidade, "Quantidade:" %>
        </div>
        <div class="direita">
        <%= f.select :quantidade, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 1),{} %>
        </div>
    </div>
  </li>
  <br>
  <br>
  <li>
    <div class="field">
        <div class="esquerda">
        <%= f.label :scale, "Escala:" %>
        </div>
        <div class="direita">
        <%= f.select :scale, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 1),{} %>
        </div>
    </div>
  </li>
  <br>
  <br>
  <li>
    <div class="field">
        <div class="esquerda">
       <%= f.label :material, "Material:" %>
       </div>
        <div class="direita">
        <%= f.collection_select :material, @materials, :name, :name, {:selected => "PLA"} %>
        </div>
    </div>
  </li>
  <br>
  <br>
  <li>
    <div class="field">
      <div class="esquerda">
      <%= f.label :color, "Cor:" %>
      </div>
      <div class="direita">
      <%= f.grouped_collection_select :color, @materials,:colors, :name, :name, :name, include_blank: true %>
      </div>
    </div>
  </li>
  <br>
  <br>
  <li>
    <div class="field">
        <div class="esquerda">
       <%= f.label :resolution, "Resoluçao:" %>
       </div>
       <div class="direita">
       <%= f.select :resolution, options_for_select(['0.1', '0.2', '0.3', '0.4'], '0.2'),{} %>
       </div>
    </div>
  </li>
  <br>
  <br>
  <li>
    <div class="field" style="">
       <div class="esquerda">
       <%= f.label :preench, "Infill:"%>
       </div>
       <div class="direita">
       <%= f.select :preench, options_for_select(['10%', '15%', '20%', '25%','30%','35%','40%','45%','50%','55%','60%','65%','70%','75%','80%','85%','90%','95%','100%'], '20%'),{} , class:"direita"%>
       </div>
    </div>
  </li>
  </ui>
    <br>
    <hr>
    <%= f.submit 'Adicionar ao Carrinho', name: 'apenas_adicionar', id:'submit_add', class:'w3-btn-block w3-theme' %>
    <br>
    <br>
    <%= f.submit 'Finalizar Compra', class:'w3-btn-block w3-theme', style: 'background-color: #F05F40' %>
    <br>
    <br>
</div>
<% end  %>


<script>
$("#submit_add").click(function() {
  console.log("blaaaaaa");
  $("#new_order").data("remote","true");
});
</script>

<style type="text/css">
  .field {
    text-align: left;
    position: relative;

  }


    .field > .esquerda{
      left: 0px;
      display: inline-block;
      position: absolute;

    }



    .field > .direita{
      right: 0px!important;
      display: inline-block;
      position: absolute;
      
    }






</style>