<!doctype html>
<html ng-app="storeApp">
    <head>
        <title>BEEPRINTED - Imprima suas Ideias</title>
        <meta charset="utf-8">
        <meta name="description" content="Impressao 3D de ideias e projetos por beeprinted.com.br">
        <meta name="author" content="BEEPRINTED.COM.BR">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <%= stylesheet_link_tag "bootstrap.min"%>
        <%= stylesheet_link_tag "owl.carousel_micro"%>
        <%= stylesheet_link_tag "anima"%>
        <%= stylesheet_link_tag "icons"%>
        <%= stylesheet_link_tag "style_micro"%>
        <%= stylesheet_link_tag "sliders"%>
        <%= stylesheet_link_tag "hero-slider"%>
        <%= stylesheet_link_tag "project-slider"%>
        <%= stylesheet_link_tag "blue"%>
        <%= stylesheet_link_tag "w3"%>
        <%= javascript_include_tag 'jquery.js' %>
        <%= javascript_include_tag 'bootstrap.min.js' %>
        <%= javascript_include_tag 'bindWithDelay.js' %>
        <%= javascript_include_tag 'bootstrap-checkbox-radio-switch.js' %>
        <%= javascript_include_tag 'bootstrap-notify.js' %>
        <%= javascript_include_tag 'chartist.min.js' %>
        <%= javascript_include_tag 'creative.min.js' %>
        <%= javascript_include_tag 'custom.js' %>
        <%= javascript_include_tag 'custom_micro.js' %>
        <%= javascript_include_tag 'demo.js' %>
        <%= javascript_include_tag 'hero-slider.js' %>
        <%= javascript_include_tag 'ios-orientationchange-fix.js' %>
        <%= javascript_include_tag 'jquery.imagesloaded.js' %>
        <%= javascript_include_tag 'jquery.magnific-popup.min.js' %>
        <%= javascript_include_tag 'jquery.waitforimages.min.js' %>
        <%= javascript_include_tag 'jquery.sticky.js' %>
        <%= javascript_include_tag 'jquery.swipebox.min.js' %>
        <%= javascript_include_tag 'jquery.wookmark.js' %>
        <%= javascript_include_tag 'light-bootstrap-dashboard.js' %>
        <%= javascript_include_tag 'loadMoreComments.js' %>
        <%= javascript_include_tag 'newstl.js' %>
        <%= javascript_include_tag 'OrbitControls.js' %>
        <%= javascript_include_tag 'owl.carousel.min.js' %>
        <%= javascript_include_tag 'pagination.js' %>
        <%= javascript_include_tag 'pagseguro.js' %>
        <%= javascript_include_tag 'posts.js' %>
        <%= javascript_include_tag 'posts_search.js' %>
        <%= javascript_include_tag 'printers.js' %>
        <%= javascript_include_tag 'scrollreveal.js' %>
        <%= javascript_include_tag 'scrollreveal.min.js' %>
        <%= javascript_include_tag 'show_profile.js' %>
        <%= javascript_include_tag 'stl.js' %>
        <%= javascript_include_tag 'STLLoader.js' %>
        <%= javascript_include_tag 'three.js' %>
        <%= javascript_include_tag 'wow.min.js' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>-->
        <!--<link rel="stylesheet" href="plugins/anima/anima.css">
        <link rel="stylesheet" href="css/icons.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/sliders.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/project-slider.css">
        <link rel="stylesheet" href="css/blue.css" class="colors">-->
        <link rel="shortcut icon" href="images/LOGO-claro.png" sizes="32x32" type="image/png"/>
        <link rel="apple-touch-icon-precomposed" href="images/LOGO-claro.png" type="image/png"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/LOGO-claro.png" type="image/png"/>
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/LOGO-claro.png" type="image/png"/>
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/LOGO-claro.png" type="image/png"/>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<body id='home'>
  <%= render 'layouts/navbar' %>
  <%= yield %>
</body>
</html>